body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  scroll-behavior: smooth;

}


.liste a{
    gap: 50px;
    text-decoration: none;
    margin-right: 25px;
}
.Topbarre{
    background-color: black;
    width: 100%;
    height: 35px;
    
}
.Topbarre a{
  color: white;
  text-decoration: none;
   margin-right: 25px;

}

header{
    background-image: url(image/hero-bg.jpg);
    background-position: top;
    width: 100%;
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.loi{
    margin-right: 350px;
}
.debut{
    display: flex;
    background-color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.b1{
    
    font-size: 10px;
    /* text-align: ; */
    color: white;
    margin-top:px;
    margin-left: 50px;
}
.ad{
    display: flex;
    gap: 30px;
    margin-left:  90px;
    margin-right: 90px;
}
.mode{
    text-align: center;
    background-color:rgba(44, 42, 42, 0.8);
    color:white;
    height: 295px;
    margin-top: 220px;
    margin-bottom:30px;
    
    

}
.b4{
    background-color: #ff5831;
    color: white;
    width: 800px;
    height: 420px;
    margin-top: 70px;
}
.mode h2{
    margin-top: 100px;
    
}
.b4 h3{
    text-align: center;
    justify-content: center;
    margin-top: 200px;
}
.b4, button{
    text-align: center;
    padding: 7px;
    border: none;

}
.Logo1{
  color: #ff5831;
    margin-top: -50px;
    position:absolute;
    margin-left: 55px;
}
.Lgo2{
  color: #ff5831;
    margin-top: -50px;
    position:absolute;
    margin-left: 55px;
}
.lgo1{
  color: #ff5831;
    margin-top: -50px;
    position:absolute;
    margin-left: 35px;
}
.focus{
  color: #ff5831;
  margin-top:20px;
    position:absolute;
    margin-left: -80px;
    padding: 15px;
    transform: scale( 2.5);
    


}
.wf{
  color: #ff5831;
  margin-top:-50px;
    position:absolute;
    margin-left: 80px;
    padding: 15px;
    transform: scale( 2.5);

}
.tel{
  color: #ff5831;
  margin-top:-50px;
    position:absolute;
    margin-left: 80px;
    padding: 15px;
    transform: scale( 2.5);
}
.cr{
  color: #ff5831;
  margin-top:-75px;
    position:absolute;
    margin-left: 100px;
    padding: 15px;
    transform: scale( 2.5);
}
.tout{
  color: #ff5831;
  margin-top:-75px;
    position:absolute;
    margin-left: 100px;
    padding: 15px;
    transform: scale( 2.5);

}
.tel{
  color: #ff5831;
  margin-top:-75px;
    position:absolute;
    margin-left: 100px;
    padding: 15px;
    transform: scale( 2.5);
}
.T5{
  color: #ff5831;
  margin-top:-75px;
    position:absolute;
    margin-left: 100px;
    padding: 15px;
    transform: scale( 2.5);
}

.icone{
    color: #ff5831;
     margin-top: -50px;
    position:absolute;
    margin-left: 80px;
    padding: 20px;
    transform: scale( 2.5);
}

.hm{
  color: #ff5831;
  margin-top: -75px;
    position:absolute;
    margin-left: 100px;
    padding: 15px;
    transform: scale( 2.5);
    
}
.message{
  color: #ff5831;
   margin-top: -75px;
    position:absolute;
    margin-left: 100px;
    padding: 20px;
    transform: scale( 2.5);
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  
}

section {
  padding: 60px 0;
}


.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;
}
.Lui p{
  margin-left: 80px;
  font-size: small;

}
.Lui h4{
  margin-left: 80px;
}

.section-title p {
  color: #777;
  max-width: 700px;
  margin: auto;
}

/* ===== ABOUT ===== */
.about-content {
 display: flex;
}
.about-content p{
  margin-bottom: 70px;
}

.about-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  font-size: small;
}

.about-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}

/* ===== SERVICES ===== */
.services {
  background: #f5f7fa;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.service-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h4 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #222;
}

.service-card p {
  color: #666;
}
.images{
  display: grid;
  grid-template-columns: 50% 50%  ;
  text-align: center;
  gap: 20px;
  color: white;
 border-radius: 15px;
 margin: 60px;
 
}
.img1,.img2,.img3,.img4{
  height: 60vh;
  padding: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: transform  0.4s ease-in-out;


}
.img1:hover,.img2:hover,.img3:hover,.img4:hover{
 transform: scale(1.1);

}

.img1{
  background-image: url(image/services-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 
}
.img2{
  background-image: url(image/services-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 

}
.img3{
  background-image: url(image/services-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  

}
.img4{
  background-image: url(image/services-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  

}
.para{
  padding: 20px;
  background-color: rgb(247, 238, 238);
  color: rgba(15, 29, 27, 0.774);
  margin-top: 35%;
  border-radius: 15px;
  

}

 

    


